{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="py-4 py-xl-5" style="height: 377.725px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-5">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5" style="margin-left: 0px;padding-left: 28px;">
                            <h2 class="text-center mb-4" id="form_heading" style="margin-top: -40px;">{{ title }}</h2>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form.date|as_crispy_field }}
                                </div>
                                <div style="display: none;" id="irrelevant_date" class="alert alert-danger" role="alert">
                                  Собрание должно проводиться в период с 1 марта по 30 июня текущего года
                                </div>
                                <div style="display: none;" id="too_soon" class="alert alert-danger" role="alert">
                                  Рекомендуется направлять уведомления не менее, чем за 21 день до проведения собрания или в иные сроки, которые установлены Уставом вашего кооператива
                                </div>
                                <div class="mb-3">
                                    {{ form.time|as_crispy_field }}
                                </div>
                                {% if form.place %}
                                    <div class="mb-3">
                                    {{ form.place|as_crispy_field }}
                                </div>
                                {% endif %}
                                <div class="mb-3">
                                    {{ form.appendix|as_crispy_field }}
                                </div>
                                <div>
                                    <button class="btn btn-primary d-block w-100" style="margin-bottom: 30px;" name="create_notification" id="create_notification" type="submit">
                                        Сформировать уведомление
                                    </button>
                                    <button class="btn btn-primary d-block w-100" name="save_and_continue" id="save_and_continue" type="submit">
                                        Отправить и продолжить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        window.onload = check

        function check() {
            let m_type = {{ m_type }};
            let selected_date = new Date(document.getElementById('id_date').value)
            let today = new Date();
            let yyyy = today.getFullYear();

            let marchFirst = new Date(yyyy, 1, 28)
            let juneThirtieth = new Date(yyyy, 6, 1)
            let threeWeeksPastToday = new Date(today.getTime() + 20 * 24 * 60 * 60 * 1000);

            if (selected_date < threeWeeksPastToday) {
                document.getElementById("too_soon").style.display = "block";
            } else {
                document.getElementById("too_soon").style.display = "none";
            }
            if (((marchFirst < selected_date) && (selected_date < juneThirtieth) && (m_type === 1)) || (m_type === 2) || (m_type === 3)) {
                document.getElementById("irrelevant_date").style.display = "none";
            } else {
                document.getElementById("irrelevant_date").style.display = "block";
            }
        }
    </script>
{% endblock content %}