{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="py-4 py-xl-5" style="height: 377.725px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-5">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5" style="margin-left: 0px;padding-left: 28px;">
                            <div class="d-flex flex-row align-items-center">
                                <h2 class="text-center mb-4" id="form_heading">{{ title }}</h2>
                                <button type="button" id="tip"
                                        style="margin-left: 10px; margin-bottom: 10px; padding-right: 10px; padding-left: 10px"
                                        class="original-border"
                                        onclick="showMainTip()">
                                    ?
                                </button>
                            </div>
                            <div style="display: none; white-space: pre-line;" id="data1"
                                 class="alert alert-primary" role="alert">
                                <p>Необходимо указать точные дату, время и место проведения собрания. Обратите внимание,
                                    что очередное собрание должно быть проведено строго с 1 марта по 30 июня.

                                    Для решения вопросов повестки дня участникам для ознакомления необходимо отправить
                                    соответствующие документы. В целях корректной работы сервиса рекомендуется, чтобы
                                    название файла соответствовало его содержанию.

                                    Если в повестку дня включено несколько вопросов, необходимо загрузить документы по
                                    каждому из них.</p>
                            </div>
                            <div style="display: none; white-space: pre-line;" id="data2"
                                 class="alert alert-primary" role="alert">
                                <p>Необходимо указать точные дату, время и место проведения собрания. Уставом
                                    кооператива обычно предусматривается срок со дня предъявления требования, в который
                                    должно быть проведено общее собрание. Перед указанием даты уточните это в Уставе
                                    вашего кооператива.

                                    Для решения вопросов повестки дня участникам для ознакомления необходимо отправить
                                    соответствующие документы. В целях корректной работы сервиса рекомендуется, чтобы
                                    название файла соответствовало его содержанию.

                                    Если в повестку дня включено несколько вопросов, необходимо загрузить документы по
                                    каждому из них.</p>
                            </div>
                            <div style="display: none; white-space: pre-line;" id="data3"
                                 class="alert alert-primary" role="alert">
                                <p>Необходимо указать точные дату и время, до которых члены кооператива должны направить
                                    заполненные бюллетени. Уставом кооператива обычно предусматривается срок со дня
                                    предъявления требования, в который должно быть проведено общее собрание. Перед
                                    указанием даты уточните это в Уставе вашего кооператива.

                                    Для решения вопросов повестки дня участникам для ознакомления необходимо отправить
                                    соответствующие документы. В целях корректной работы сервиса рекомендуется, чтобы
                                    название файла соответствовало его содержанию.

                                    Если в повестку дня включено несколько вопросов, необходимо загрузить документы по
                                    каждому из них.</p>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form.date|as_crispy_field }}
                                </div>
                                <div style="display: none;" id="irrelevant_date" class="alert alert-danger"
                                     role="alert">
                                    Собрание должно проводиться в период с 1 марта по 30 июня текущего года
                                </div>
                                <div style="display: none;" id="too_soon" class="alert alert-danger" role="alert">
                                    Рекомендуется направлять уведомления не менее, чем за 21 день до проведения собрания
                                    или в иные сроки, которые установлены Уставом вашего кооператива
                                </div>
                                <div class="mb-3">
                                    {{ form.time|as_crispy_field }}
                                </div>
                                {% if form.place %}
                                    <div class="mb-3">
                                        {{ form.place|as_crispy_field }}
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <div class="d-flex flex-row align-items-center">
                                        <span style="margin-right: 10px">Приложения</span>
                                        <button type="button" id="appendix-tip" class="original-border"
                                                onclick="showTip()">
                                            ?
                                        </button>
                                    </div>

                                    {{ form.appendix|as_crispy_field }}
                                </div>
                                <div style="display: none; white-space: pre-line;" id="t_data"
                                     class="alert alert-primary" role="alert">
                                    <p id="appendix-tooltip">
                                        {{ tooltip_data }}
                                    </p>
                                </div>
                                <div>
                                    <button class="btn btn-primary d-block w-100" style="margin-bottom: 30px;"
                                            name="create_notification" id="create_notification" type="submit">
                                        Сформировать уведомление
                                    </button>
                                    <button class="btn btn-primary d-block w-100" name="save_and_continue"
                                            id="save_and_continue" type="submit">
                                        Отправить и продолжить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        window.onload = check
        const tip_div = document.getElementById('t_data')
        let appendixTooltip = document.getElementById('appendix-tooltip')
        appendixTooltip.innerText = appendixTooltip.innerText.trim()
        const div_id = {{ m_type }};
        const main_tip_div = document.getElementById('data' + div_id)

        function showMainTip() {
            if (main_tip_div.style.display === "none") {
                main_tip_div.style.display = "block"
            } else {
                main_tip_div.style.display = "none"
            }
        }

        function showTip() {
            if (tip_div.style.display === "none") {
                tip_div.style.display = "block"
            } else {
                tip_div.style.display = "none"
            }
        }

        function check() {
            let m_type = {{ m_type }};
            let selected_date = new Date(document.getElementById('id_date').value)
            let today = new Date();
            let yyyy = today.getFullYear();

            let marchFirst = new Date(yyyy, 1, 28)
            let juneThirtieth = new Date(yyyy, 6, 1)
            let threeWeeksPastToday = new Date(today.getTime() + 20 * 24 * 60 * 60 * 1000);

            if (selected_date < threeWeeksPastToday) {
                document.getElementById("too_soon").style.display = "block";
            } else {
                document.getElementById("too_soon").style.display = "none";
            }
            if (((marchFirst < selected_date) && (selected_date < juneThirtieth) && (m_type === 1)) || (m_type === 2) || (m_type === 3)) {
                document.getElementById("irrelevant_date").style.display = "none";
            } else {
                document.getElementById("irrelevant_date").style.display = "block";
            }
        }
    </script>
{% endblock content %}