{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="py-4 py-xl-5" style="height: 377.725px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-5">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5" style="margin-left: 0px;padding-left: 28px;">
                            <h2 class="text-center mb-4" id="form_heading" style="margin-top: -40px;">{{ title }}</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form.date|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.time|as_crispy_field }}
                                </div>
                                {% if form.place %}
                                    <div class="mb-3">
                                    {{ form.place|as_crispy_field }}
                                </div>
                                {% endif %}
                                <div class="mb-3">
                                    {{ form.appendix|as_crispy_field }}
                                </div>
                                <div>
                                    <button class="btn btn-primary d-block w-100" style="margin-bottom: 30px;" name="create_notification" id="create_notification" type="submit">
                                        Сформировать уведомление
                                    </button>
                                    <button class="btn btn-primary d-block w-100" name="save_and_continue" id="save_and_continue" type="submit">
                                        Отправить и продолжить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}