{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="py-4 py-xl-5" style="height: 377.725px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5" style="margin-left: 0px;padding-left: 28px;">
                            <h2 class="text-center mb-4" id="form_heading" style="margin-top: -40px;">Регистрация
                                пользователя</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form.username|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.password1|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.password2|as_crispy_field }}
                                </div>
                                <div>
                                    <button class="btn btn-primary d-block w-100" id="submit" type="submit">
                                        Зарегистрироваться
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}